* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body, html {
            height: 100%;
        }

        body {
            background-color: grey;
            border: 10px solid black;
            box-sizing: border-box;
            margin: 0; 
            padding: 0; 
            height: 100vh; 
            overflow: scroll; 
        }
        

        .border-container {
            border: 10px solid black;
            box-sizing: border-box;
            height: 100vh;
            overflow: hidden;    
        }

        .container {
            position: relative; 
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        .rectangle {
            position: absolute;
            width: calc(100% - 20px);
            margin: 10px;
            background-color: white; 
        }

        #rectangle1 {
            top: 0;
            height: 10%;
        }

        #rectangle2 {
            top: 12%;
            height: 30%;
        }

        #rectangle3 {
            top: 44%;
            height: 22%;
        }

        #rectangle4 {
            top: 68%;
            height: 30%;
        }

        .links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            padding-right: 20px; 
        }


        .image-box {
            width: 40%;
            height: 80%;
            background-color: #f2f2f2;
            position: absolute; 
            top: 10%;
            left: 2%;
            display: flex; 
            justify-content: center;
            align-items: center;
        }

        .image-box p {
            font-size: 48px; 
            color: #000000;
        }
		

        .image-box-right {
            width: 30vw;
            height: 63%;
            background-color: #ffffff; 
            position: absolute;
            top: 17%; 
            right: 5%;
            display: flex; 
            justify-content: center;
            align-items: center;
        }

        .image-box-right img {
            width: 100%;
            height: auto;
        }

        .image-box-right p {
            font-size: 48px;
            color: #000000;
        }

        .horizontal-box {
            width: 52%;
            height: calc(33.33% - 20px); 
            background-color: #ffffff;
            margin: 10px 0; 
            margin-left: 20px;
            top: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .horizontal-box {
            width: 52%; 
            height: calc(33.33% - 20px); 
            background-color: #f2f2f2;
            margin: 10px 0;
            margin-left: 20px;
            top: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black; 
        }

        .horizontal-box p {
            margin: 0;
            font-size: 18px; 
            color: #000000;
        }

        .text-box {
            border: 2px solid black;
            background-color: #f2f2f2;
            padding: 20px; 
            position: absolute;
            top: 15%; 
            right: 5%;
            width: 90%;
            height: 200px;
        }
        

        .text-box p {
            margin: 0; 
            font-size: 25px;
            font-weight: bold;
        }
		.text-box-left {
    border: 2px solid black;
    background-color: #f2f2f2;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 30%;
	transform: translate(-50%, -50%);
    width: 45%;
    height: 160px;
}

.text-box-left p {
    margin: 0; 
    font-size: 25px;
    font-weight: bold;
}
.image-box-right {
    background-color: #f2f2f2;
    padding: 20px; 
    position: absolute;
    top: 15%;
    right: 5%;
    width: 30%;
    height: 180px;
}

.image-box-right img {
    width: 100%;
    height: auto;
}
.text-box-bottom {
    border: 2px solid black;
    background-color: white;
    padding: 20px; 
    position: absolute; 
    bottom: 2%;
    left: 1%;
    width: 45%;
    height: 110px;
}

.text-box-bottom p {
    margin: 0; 
    font-size: 25px;
    font-weight: bold;
}
.image-box-bottom {
    position: absolute;
    bottom: 4%;
    left: 38%;
    transform: translateX(-50%);
}

.image-box-bottom img {
    width: 100px;
    height: auto; 
}

a {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
